body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: black;
  color: #fff;
}

.footer .nav-link,
.footer li {
  color: white;
}

a {
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: auto;
}

.andy-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8rem;
  height: 4rem;
}
